{% extends 'main/base.html' %}
{% load custom_tags %}

{% block content %}
<div class="container mt-3">
  <div class="row">
    {% for object in object_list %}
      <div class="list-group p-0">

        <div class="list-group-item mb-2" style="min-height: 120px">
          <div class="row">
            <div class="col-10">
              <h5 class="mb-1">
                {{ object.payment_daytime }} <a class="btn btn-info" href="{% url 'users:history_detail' object.pk %}">Подробнее</a> <br>
                {{ object.service_info|truncatechars:85 }}<br>
                {% if object.result %}
                <a href="{% url 'services:result_detail' object.result.pk %}">{{ object.result.title|truncatechars:85 }}</a>
                {% else %}
                Результат ещё не готов
                {% endif %}
              </h5>
              <p class="mb-1">
                {{ object.description|truncatechars:250 }}<br>
              </p>
            </div>

            <div class="col-2 text-end">
              <div class="d-flex justify-content-between h-100">
                <div class="vr"
                     style="position: absolute; left: 83%; top: 0; bottom: 0; width: 1px; background-color: #ccc;"></div>

                <div class="d-flex w-100 justify-content-between">
                  <h4 class="mb-1">{{ object.price }} ₽</h4>
                </div>

              </div>
            </div>

          </div>
        </div>

      </div>
      {% endfor %}
  </div>
</div>
{% endblock %}
