{% extends 'main/base.html' %}

{% block content %}
<div class="row">
  <div class="col-6">
    <h4>Адрес компании</h4>
    <p>
      Свердловская область, Екатеринбург, ул. Тургенева 3
    </p>
  </div>

  <div class="col-6">
    <h4>Контакты</h4>
    <p>
      Москва: +7-777-777-77-77<br>
      Петербург: +7-777-777-77-77<br>
      Екатеринбург: +7-777-777-77-77<br>
      Меж город: 7-77-77<br>
      Email: <a href="#">company@med.ru</a>
    </p>

  </div>
</div>
<div class="row">
  <div class="col-6">
    <script type="text/javascript" charset="utf-8" async
            src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A07d4fc8fc6db16f7872fe698adac69afa3791fc401db13b9cdad3e597f8ada4f&amp;width=600&amp;height=450&amp;lang=ru_RU&amp;scroll=true"></script>
  </div>
  <div class="col-6">
    <form method="post" action="{% url 'main:feedback' %}?page=contacts">
      <div class="card">

        <div class="card-header">
          <h4>Обратная связь</h4>
        </div>

        <div class="card-body">
          {% csrf_token %}
          <input type="text" class="form-control" id="fullname_id" name="fullname" placeholder="Ф.И.О.">
          <input type="email" class="form-control mt-2" id="email_id" name="email" placeholder="Email">
          <input type="text" class="form-control mt-2" id="message_id" name="message" placeholder="Сообщение">
        </div>

        <div class="card-footer">
          <button class="btn btn-info" type="submit">Отправить</button>
        </div>

      </div>
    </form>

    {% if message %}
    <div class="toast align-items-center text-bg-{{ status }} mt-3" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="d-flex">
        <div class="toast-body">
          {{ message }}
        </div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                aria-label="Закрыть"></button>
      </div>
    </div>
    {% endif %}

  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const toastElList = [].slice.call(document.querySelectorAll('.toast'))
    const toastList = toastElList.map(function (toastEl) {
      return new bootstrap.Toast(toastEl)
    })
    toastList.forEach(toast => toast.show())
  });
</script>

{% endblock %}