{% extends 'main/base.html' %}

{% block content %}
<div class="row">
  <div class="col-6">
    <h4>О компании</h4>
    <p>
      Мы занимаемся диагностикой заболеваний уже много лет. У нас множество офисов по всей России. Lorem ipsum dolor sit
      amet, consectetur adipiscing elit. Morbi fringilla cursus lobortis. Morbi tristique dui neque, eget condimentum
      turpis vulputate a. Aenean eu lectus vitae purus convallis ultrices eget et justo. Nunc pulvinar, arcu a semper
      tempus, nisi mauris facilisis erat, nec porttitor dui ipsum nec ipsum. Suspendisse condimentum enim nulla, sit
      amet ornare turpis blandit eu. Donec tincidunt turpis ut accumsan posuere. Nam viverra libero dignissim elit
      consequat aliquam. Vestibulum iaculis congue ullamcorper. Morbi tristique vehicula tortor vitae sollicitudin.
      Pellentesque viverra purus ut eros tristique convallis. Phasellus efficitur dui scelerisque pretium porttitor.
    </p>
    <hr>
    <h4>Услуги</h4>
    <p>
      Сдать анализы<br>
      Записаться на прием
    </p>
  </div>

  <div class="col-6">
    <h4>Контакты</h4>
    <p>
      Москва: +7-777-777-77-77<br>
      Петербург: +7-777-777-77-77<br>
      Екатеринбург: +7-777-777-77-77<br>
      Меж город: 7-77-77
    </p>

    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#feedbackModal">
      Форма обратной связи
    </button>
    {% include 'main/includes/inc_feedback_form.html' %}

  </div>
</div>
{% endblock %}
