{% extends 'main/base.html' %}

{% block content %}
<div class="row">
  <div class="col-6">
    <h5>О компании</h5>
    <p>
      Мы занимаемся диагностикой заболеваний уже много лет. У нас множество офисов по всей России. Lorem ipsum dolor sit
      amet, consectetur adipiscing elit. Morbi fringilla cursus lobortis. Morbi tristique dui neque, eget condimentum
      turpis vulputate a. Aenean eu lectus vitae purus convallis ultrices eget et justo. Nunc pulvinar, arcu a semper
      tempus, nisi mauris facilisis erat, nec porttitor dui ipsum nec ipsum. Suspendisse condimentum enim nulla, sit
      amet ornare turpis blandit eu. Donec tincidunt turpis ut accumsan posuere. Nam viverra libero dignissim elit
      consequat aliquam. Vestibulum iaculis congue ullamcorper. Morbi tristique vehicula tortor vitae sollicitudin.
      Pellentesque viverra purus ut eros tristique convallis. Phasellus efficitur dui scelerisque pretium porttitor.
    </p>
    <hr>
    <h5>Услуги</h5>
    <p>
      Сдать анализы<br>
      Записаться на прием
    </p>
  </div>

  <div class="col-6">
    <h5>Контакты</h5>
    <p>
      Москва: +7-777-777-77-77<br>
      Петербург: +7-777-777-77-77<br>
      Екатеринбург: +7-777-777-77-77<br>
      Меж город: 7-77-77
    </p>

    <form method="post" action="{% url 'main:feedback' %}?page=index">
      <div class="card">

        <div class="card-header">
          <h5>Обратная связь</h5>
        </div>

        <div class="card-body">
          {% csrf_token %}
          <input type="text" class="form-control" id="fullname_id" name="fullname" placeholder="Ф.И.О.">
          <input type="email" class="form-control mt-2" id="email_id" name="email" placeholder="Email">
          <input type="text" class="form-control mt-2" id="message_id" name="message" placeholder="Сообщение">
        </div>

        <div class="card-footer">
          <button class="btn btn-info" type="submit">Отправить</button>
        </div>

      </div>
    </form>

    {% if message %}
    <div class="toast align-items-center text-bg-{{ status }} mt-3" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="d-flex">
        <div class="toast-body">
          {{ message }}
        </div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                aria-label="Закрыть"></button>
      </div>
    </div>
    {% endif %}

  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const toastElList = [].slice.call(document.querySelectorAll('.toast'))
    const toastList = toastElList.map(function (toastEl) {
      return new bootstrap.Toast(toastEl)
    })
    toastList.forEach(toast => toast.show())
  });
</script>

{% endblock %}
